<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма регистрации</title>
    <link th:href="@{/css/stylereg.css}" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="autocontainer">
            <h1>Университет Прогресса</h1>
            <nav class="navigation">
                <ul>
                    <li><a href="http://localhost:8080/api/formindex">Главная</a></li>
                    <li><a href="http://localhost:8080/api/formsvedeniy">Сведения об ОО</a></li>
                    <li><a href="http://localhost:8080/api/formspecial">Специальности</a></li>
                    <li><a href="http://localhost:8080/api/formcontact">Контакты</a></li>
                    <li><a href="http://localhost:8080/api/formotziv">Отзывы</a></li>
                    <li><a href="http://localhost:8080/api/formauto">Войти</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section>
            <div class="container">
                <h2>Регистрация</h2>
                <div class="form-container">
                    <form id="registration-form">
                        <div class="form-group">
                            <label for="surname">Фамилия:</label>
                            <input type="text" id="surname" name="SecondName" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Имя:</label>
                            <input type="text" id="name" name="FirstName" required>
                        </div>
                        <div class="form-group">
                            <label for="patronymic">Отчество:</label>
                            <input type="text" id="patronymic" name="MiddleName" required>
                        </div>
                        <div class="form-group">
                            <label for="birthdate">Дата рождения:</label>
                            <input type="date" id="birthdate" name="DateOfBirth" required>
                        </div>
                        <div class="form-group">
                            <label for="employment-date">Дата трудоустройства:</label>
                            <input type="date" id="employment-date" name="DateOfEmployment" required>
                        </div>
                        <div class="form-group">
                            <label for="passport-data">Паспортные данные:</label>
                            <input type="text" id="passport-data" name="PassportData" required>
                        </div>
                        <div class="form-group">
                            <label for="snils">СНИЛС:</label>
                            <input type="text" id="snils" name="SNILS" required>
                        </div>
                        <div class="form-group">
                            <label for="login">Логин:</label>
                            <input type="text" id="login" name="Logins" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Пароль:</label>
                            <input type="password" id="password" name="Passwords" required>
                        </div>
                        <div class="form-group">
                            <label for="photo">Фото:</label>
                            <input type="file" id="photo" name="PhotoLink" required>
                        </div>
                        <button type="submit"><b>Зарегистрироваться</b></button>
                    </form>

                    <br>
                    <input type="button" value="Проверка статуса регистрации" onclick="location.href='http://localhost:8080/api/formstatus'">
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="autocontainer">
            <p>&copy; 2025 Университет Прогресса. Все права защищены.</p>
        </div>
    </footer>
    
   

    
</body>
</html>


